.when {
  .date {
    display: block;
  }
}

.event-details{
    ul.requirements{
      margin: 1em 0;
      padding: 0;
      li{margin: 0; padding: 0;}
    }
}
a.sign-up{color: white}

form#signup{
}
