#main {
  padding: em(15);
}

ul {
  margin: 0 0 em(30) em(30);

  li {
    margin-bottom: em(15);
  }
}

//FORMS

form {
  margin-bottom: em(45);

  fieldset {
  border:0;
  background:none;
  margin: 0 0 em(30);
  padding:0;

    label {
      font-size: em(13);
    }

    input[type="text"], input[type="email"], input[type="password"] {
      padding: em(10);
      resize: none;
    }

    &.check {
      margin-bottom: em(15);
    }

    .form-help {
      font-size: em(12);
      line-height: 125%;
      margin-bottom: em(15);
    }
    select {
      margin: em(8) 0 0;
    }

    input[type="submit"] {
      width: 100%;
      padding: em(15);
    }
  }
}
