$blue: rgb(73,158,209);
$green: rgb(168,180,0);
$dark-gray: rgb(95,87,79);
$light-gray: rgb(223,222,214);

$text-color: $dark-gray;

$corner-rounding: 4px;

footer{
  font-size: .8em;
  background-color: white;
  border-radius: $corner-rounding;
  span{display: none;}
  padding: .5em;
  ul{text-align: center;}
  li{display: inline;}
  margin-bottom: 1em;
}

a{
  color: $blue;
  &:visited{
    color: $blue;
  }
  &:hover{
    color: $green !important;
  }
}

%body-copy{
  font-family: Lucida Grande;
  font-size: 12px;
}

%hx{
  font-family: Georgia;
}

h1{
  @extend %hx;
  font-size: 2.7em
}
h2{
  @extend %hx;
  font-size: 2em
}
h3{
  @extend %hx;
  font-size: 1.7em
}
h4{
  @extend %hx;
  font-size: 1.3em
}
h5{
  @extend %hx;
}
h6{
  @extend %hx;
}

header{background-color: white;}

h1.logo{
  background-image: url('http://www.hon.org/servlet/servlet.ImageServer?oid=00DA00000009smOMAQ&id=015A0000001PsN0IAK');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  width: 100%;
  height: 80px;
  text-indent: -9999%;
  overflow: hidden;
  margin: 1.5em auto .5em auto;
}

nav{
  ul{
    li{
      a{
        color: $blue !important;
      }
    }
  }
}
